<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug Prediction</title>
</head>

<body>
    <div>
        <h1>HeartAttack Prediction</h1>

        <form action="{{url_for('predict')}}" method="post">
            <input type="number" name="male" placeholder="Gender  of the person" required="required" /><br>
            <input type="number" name="age"  placeholder="Age of the Person" required="required" /><br>
            <input type="number" name="education"  placeholder="education of the person" required="required" /><br>
            <input type="number" name="currentSmoker" min="0" max="1" placeholder="Whether a smoker or not" required="required" /><br>
            <input type="number" name="cigsPerDay" placeholder="CigsperDay of the person" required="required" /><br>
            <input type="number" name="BPMeds" placeholder="BPMedicated person or not " required="required" /><br>
            <input type="number" name="prevalentStroke" min="0" max="1" placeholder="prevalentStroke of the Person" required="required" /><br>
            <input type="number" name="prevalentHyp" min="0" max="1" placeholder="prevalentHyp of the person" required="required" /><br>
            <input type="number" name="diabetes" min="0" max="1" placeholder="Whether a diabetes or not" required="required" /><br>
            <input type="number" name="totChol" placeholder="TotalCholestrol of the person" required="required" /><br>
            <input type="number" name="sysBP" placeholder="sysBP of the person" required="required" /><br>
            <input type="number" name="diaBP" placeholder="diaBP of the person " required="required" /><br>
            <input type="number" name="BMI"  placeholder="BMI of the Person" required="required" /><br>
            <input type="number" name="heartRate"  placeholder="heartRate of the person" required="required" /><br>
            <input type="number" name="glucose"  placeholder="Glucose of the person" required="required" /><br>

            <button type="submit" class="btn btn-success">TenYearCHD</button>

        </form>

        <br>

    </div>

</body>

</html>